#Footer .badges{
    float: right;
}
#Footer .badges img{
    margin-left: 5px;
}
#Footer .contact-info{
    float: left;
}

body:not(.template-slider) .about #Header_wrapper {
    background-image: url("../images/backgrounds/about_background.jpg");
}
body:not(.template-slider) .contact #Header_wrapper {
    background-image: url("../images/backgrounds/contactus_background.jpg");
}
body:not(.template-slider) .offer #Header_wrapper {
    background-image: url("../images/backgrounds/offer_background.jpg");
}
#Subheader .title  {
    color: #fff;
    text-align: center;
}
h1.title{
    text-align: center;
}
@media only screen and (max-width: 767px){
    .contact-details{
        font-size: 25px;
    }
}